* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    /*background-color: MidnightBlue;*/
    font-weight: 300;
    color: #000;
    height: 100vh;
    overflow: hidden;
}

.img-wrapper{
    display:inline-block;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.wrapper {
    background-color: #ffffff89;
    position: relative;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    z-index: 0;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#about a{
    color: black;
    font-style: italic;
}

#resume a{
    color: black;
    font-style: italic;
}

#about a:hover {
    color: grey ;
}

#resume a:hover {
    color: grey ;
}
  
section h1 {
    font-size: 3rem;
    margin: 15px auto;

}

section h2 {
    font-size: 2rem;
    font-weight: 300;
}

section h3 {
    font-size: 1.5rem;

}

section p {
    font-size: 1.2rem;
    /*margin: 10% 0%;*/

}

section strong {
    font-weight: 500;

}

section .left-align {
    text-align: left;

}

section .mid-weight {
    font-weight: 500;

}

/*#home {
    background-color: #d6f2ff;

}

#about {
    background-color: #adc3de;

}

#resume {
    background-color: #d6f2ff;
}


#projects {
    background-color: #adc3de;

}

#contact {
    background-color: #d6f2ff;

}
*/
#resume .wrapper {
    height: 80%;

}

.profimg {
    position: relative;
    display: block;
    justify-content: center;
    margin: 15px auto;
    border-radius: 50%;
}

.open-item {
    position: fixed;
    cursor: pointer;
    font-size: 50px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
    z-index: 1;
}

.open-item:hover {
    background-color: rgba(245, 245, 245, 0.4);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #222938;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav .navitem {
	margin-top: 20px;
}

.sidenav .navitem a {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidenav .navitem a:hover {
    color: #f1f1f1;
    background-color: LightSlateGrey;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 55px;
	font-size: 50px;
	margin-left: 50px;
}

.sidenav .closebtn:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

	.sidenav a {
	    font-size: 18px;
	}
}

#contact .wrapper{
    width: 50%;
    height: 60%;
}

.child{
    align-content: center;
    justify-content: center;
    vertical-align: center;
}

#contact ul {
    list-style: none;
    font-size: 2em;
}

#contact img{
    position: relative;
    vertical-align: middle;
    height: 1.5em;
    z-index: 2;
    padding: 15px;
}


#contact a:hover{
/*    background-color: CadetBlue;
    z-index: -1;
    opacity: 0.1;*/
    border: 5px solid SkyBlue;
    border-radius: 5    px;
    padding: 15px 10px;
}




/*Extremely small screens, namely iPhone 5/SE*/
@media only screen and (max-width: 330px){
    .profimg {
        margin-top: 3%;
        margin-bottom: 0;
        max-width: 78%;
        height: auto;
    }

    .wrapper {
        width: 80%;
        height: 80%;
    }

    .child{
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #home h1{
    	font-size: 2em;
    }

    #home p{
    	font-size: 1em;
    }

    #about h1{
    	font-size: 1.8rem;
    }

    #about p{
    	font-size: 1em;
    	justify-content: center;
    }

    #resume{
        height: 120%;
    }

    #resume p{
    	font-size: 1rem;
    }

    #resume iframe
    {
    	height: 200px;
    }

    .larger-show {
        display: none;
    }

    .smaller-show {
        display: block;
    }

    .open-item {
        font-size: 30px;
        padding: 3px 10px 3px 10px;
        border-radius: 10px;
        margin: 10px 0px 0px 10px;
        background-color: black;
        color: white;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 331px) and (max-width: 600px) {
    .profimg {
        max-width: 60%;
        height: auto;
        justify-content: center;
        margin: auto;
    }

    .wrapper {
        width: 80%;
        height: 70%;
    }

    .child{
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #home p{
    	font-size: 1em;
    }

    #about h1{
    	font-size: 2.4rem;
    }

    #about p{
    	font-size: 1.2em;
    	justify-content: center;
    }

    #resume{
        height: 130%;
    }

    #resume p{
    	font-size: 1em;
        margin: 10px auto;
    }

    #resume iframe{
        height: 40%;
        
    }

    .larger-show {
        display: none;
    }

    .smaller-show {
        display: block;
    }

    .open-item {
        font-size: 30px;
        padding: 3px 10px 3px 10px;
        border-radius: 10px;
        margin: 10px 0px 0px 10px;
        background-color: black;
        color: white;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

    .wrapper {
        width: 60%;
        height: 60%;
        justify-content: center;
        margin: auto;
    }


    .child{
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    .profimg {
        max-width: 50%;
        height: auto;
    }

    #resume {
        height: 120%;
    }

    .larger-show {
        display: none;
    }

    .smaller-show {
        display: block;
    }

    .open-item {
        font-size: 32px;
        padding: 5px 12px 5px 12px;
        border-radius: 10px;
        margin: 10px 0px 0px 10px;
        background-color: black;
        color: white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .wrapper {
        width: 60%;
        height: 60%;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .child{
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    .profimg {
        max-width: 50%;
        height: auto;
    }

    #home .wrapper{
        height: 75%;
    }

    #home h1{
    	font-size: 3rem;
    }

    #home p{
    	font-size: 1.5rem;
    }

/*    #resume{
        height: 120%;
    }*/

    #resume iframe{
        height: 50%;
        width: 90f%;
    }

    .larger-show {
        display: none;
    }

    .smaller-show {
        display: block;
    }

    .open-item {
        font-size: 35px;
        padding: 6px 13px 6px 13px;
        border-radius: 10px;
        margin: 10px 0px 0px 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
        width: 68%;
        height: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .profimg {
        max-width: 50%;
        height: auto;
    }

    .child{
        align-content: center;
        justify-content: center;
    }

    #home h1 {
        font-size: 2.8rem;
    }

    #home p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2.5rem;
    }

    #about {
        height: 110%;
    }

    #about p {
        font-size: 1.7rem;
    }

    #resume{
        height: 140%;
    }

    #resume iframe{
        height: 500px;
    }

    #resume p{
        font-size: 1.5rem;
        margin: auto 15px;
        text-align: center;
        justify-content: center;
    }

    #resume h3{
        font-size: 2rem;
    }

    #resume .wrapper{
    	height: 85%;
    }

    section h3 {
        font-size: 2.5rem;
    }

    section p {
        font-size: 2rem;
    }

    .smaller-show {
        display: none;
    }

    .larger-show {
        display: block;
    }

    .open-item {
        font-size: 38px;
        padding: 8px 12px 8px 12px;
        border-radius: 10px;
        margin: 10px 0px 0px 10px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .profimg {
        position: relative;
        margin: 5% auto 3% auto;
        justify-content: center;
        max-width: 60%;
        height: auto;
    }

    .wrapper {
        width: 60%;
        height: 80%;
        display: inline-block;
        justify-content: center;
        text-align: center;
    }

    .child{
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #home .wrapper {
        width: 30%;
        height: 70%;
    }

    #about .wrapper {
        width: 40%;
        height: 60%;
    }

    #about p {
        width: 70%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #resume {
        height: 150%;
    }

    #resume .wrapper{
    	height: 85%;
    }

    #resume h1{
    	margin-bottom: 5px;
    }

    #resume p {
    	width: 90%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #resume .skills{
    	margin-left: 8%;
    }

    #resume iframe{
        height: 60%;
    }

    .smaller-show {
        display: none;
    }

    .larger-show {
        display: block;
    }

    .open-item {
        font-size: 40px;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        margin: 10px 0px 0px 10px;
    }
}
